*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background-color: #EEF1F7;
    width: 1920px;
    background-repeat: no-repeat;
}


.hero .frame{
    width: 1231px;
    height: 639px;
    text-align: center;
   margin: 0 auto;

}
.hero .frame .grouptitle{
    position: relative;
    width: 781px;
    height: 137px;
    text-align: center;
    margin: 0 auto;
    top: 100px;
}

.title{
   height: 56px;
    width: 731px;
    font-family: Roboto;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
  line-height: 56px;
  margin: 0 auto;
}

/* .title */ .greentext{ 
    background-color: #F9ED32;
    height: 57px;
    width: 337px;
}


.subtitle{



    width: 781px;
height: 60px;
font-family: Roboto;
font-weight: 400;
font-size: 20px;
display: flex;
align-items: center;
text-align: center;
line-height: 30px;
margin-top: 20px;
}

.cards{
    position: relative;

    
    width: 1231px;
    height: 182px;
    display: flex;
    margin: 0 auto;
    /* justify-content: space-between;
    align-items: center; */
    gap: 20px;
top: 190px;
}

.cards .block{
   top: 307px;
    background-color: #fff;
    width: 230px;
    height: 182px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20;
    border-radius: 10px;

}

h3{
width: 180px;
height: 52px;
font-family: Roboto;
font-weight: 400;
font-size: 22px;
line-height: 25px;
display: flex;
flex-direction: column;
/* justify-content: center; */
align-content: space-evenly;
text-align: center;
margin: 0 30px 30px;
}




img{
    width: 50px;
    height: 50px;

    margin: 30px 0 20px;

}

a{
    text-decoration: none;
    font-weight: 700;
    color: #000;
}















.benefit{
    width: 1920px;
  

}

.container{
    position: relative;
    width: 1300px;
    height: 510px;
    text-align: center;
   margin: 0 auto;
   margin-top: 150px;
}

.double{
margin: 0 auto;
text-align: center;
top: 0;
}

h1{
    background-color: #fff;
    width: 550px;
    height: 112px;
    font-family: Roboto;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #000;
}

.double .title .greentex{
  width: 168px;
    font-size: 45px;
    height: 47px;px;
    line-height: 60px;
    
}

.wrappir{
    display: flex;
    justify-content:
     space-between;
    width: 1300px;
    height: 218px;
margin-top: 80px;

}

.wrappir .card{
    position: relative;
    display: flex;
    gap: 20px;
width: 420px;
background-color: #eef1f7;
border-radius: 10px;
flex-direction: column;
align-items: flex-start;
justify-content: center;
}

.wrappir .ftitle{
    position: absolute;
    width: 200px;
    height: 38px;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
   top: 20px;
left: 20px;
text-align: left;
}




.wrappir .card h3{
    position: absolute;
    display: flex;
  width: 231px;
  font-weight: 900;
  font-size: 24px;
  align-items: flex-start;
  
left: 40px;
top: 83px;

}



.wrappir .card img{
    position: absolute;
    width: 23px;
    height: 23px;
left: 20px;
top: 56px;

}


.wrappir .card p{
    position: absolute;
    width: 330px;
    height: 72px;
    font-weight: 400;
    font-size: 18px;
   top:126px;
   text-align: left;
   left: 20px;
}






































